@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply max-w-full flex items-center justify-center h-screen mx-auto;
}

.movie-list {
  @apply flex items-center justify-center space-x-4;
}

.movie-item {
  @apply w-96 h-auto bg-white rounded-md flex flex-col items-center justify-start overflow-hidden shadow-2xl;
}

.movie-item-image-wrapper {
  @apply h-[520px] overflow-hidden w-full relative;
}

.movie-item-image {
  @apply object-cover object-center h-[600px];
}

.movie-item-content-wrapper {
  @apply h-56 p-4 flex flex-col items-start justify-start w-full;
}

.movie-item-title-wrapper {
  @apply h-16 shrink-0 w-full;
}

.movie-item-title {
  @apply text-2xl;
}

.movie-item-description-wrapper {
  @apply h-24 overflow-scroll flex-1;
}

.movie-item-description {
  @apply text-sm;
}

.movie-item-genres-wrapper {
  @apply flex items-center justify-start space-x-1;
}

.movie-item-genre-tag {
  @apply text-xs bg-indigo-500 text-white py-0.5 px-2 rounded-full;
}

.movie-item-rating-wrapper {
  @apply w-full flex items-center justify-start h-8 shrink-0;
}

.movie-item-rating-text {
  @apply text-xs mr-2 leading-7;
}

.movie-item-star-icon-yellow {
  @apply h-5 w-5 text-yellow-500;
}

.movie-item-star-icon-gray {
  @apply h-5 w-5 text-gray-500;
}

.movie-item-star-icon-yellow:hover,
.movie-item-star-icon-gray:hover {
  cursor: pointer;
}

.not-allowed {
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.movie-item-rating-badge {
  @apply absolute top-2 right-2 flex items-center;
}

.icon-number-wrapper {
  @apply grid grid-cols-3 grid-rows-3;
}

.movie-item-star-icon-corner {
  @apply h-14 w-14 text-yellow-500 col-start-1 col-end-4 row-start-1 row-end-4;
}

.movie-item-rating-number {
  @apply ml-1 text-lg text-amber-900 font-bold col-start-2 row-start-2 col-end-4 row-end-4;
}
